
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSTANSS/.vs/*
library/PSTANSS/PSTANSS/bin/*
library/PSTANSS/PSTANSS/obj/*

# ignore PowerShell Studio MetaData
PSTANSS/PSTANSS.psproj
PSTANSS/PSTANSS.psproj.bak
PSTANSS/PSTANSS.psprojs
PSTANSS/PSTANSS.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*